<!doctype html>
<html lang="lv">
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>
<body>
	<div id="soul">
		<nav id="header">
			<a href="{{ url }}" rel="home" id="logo">{{ site_title }}</a>

			<ul id="main-nav" class="nav">
				<li><a href="/par.html">Par projektu</a></li>
			</ul>
		</nav>

		<section id="content">
			<article>
				{{{ contents }}}
			</article>
		</section>

		<div id="footer">
			<p>Atradi kļūdu vai vēlies papildināt? <a href="https://github.com/kasparsd/eparaksts-info/issues/new">Iesaki izmaiņas &rarr;</a></p>
		</div>
	</div>
</body>
</html>
